run = "npm run test:ui"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

disableGuessImports = true
disableInstallBeforeRun = true

[nix]
channel = "stable-23_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[[ports]]
localPort = 33767
externalPort = 5000

[[ports]]
localPort = 34165
externalPort = 8081

[[ports]]
localPort = 34209
externalPort = 8000

[[ports]]
localPort = 34389
externalPort = 4200

[[ports]]
localPort = 36369
externalPort = 3002

[[ports]]
localPort = 38123
externalPort = 8099

[[ports]]
localPort = 38267
externalPort = 8080

[[ports]]
localPort = 38863
externalPort = 5173

[[ports]]
localPort = 39369
externalPort = 6800

[[ports]]
localPort = 40797
externalPort = 3001

[[ports]]
localPort = 42623
externalPort = 9000

[[ports]]
localPort = 42707
externalPort = 6000

[[ports]]
localPort = 42911
externalPort = 8008

[[ports]]
localPort = 46149
externalPort = 3003

[languages.eslint]
pattern = "**{*.ts,*.js,*.tsx,*.jsx}"
[languages.eslint.languageServer]
start = "./node_modules/vscode-langservers-extracted/bin/vscode-eslint-language-server --stdio"
[languages.eslint.languageServer.configuration]
nodePath = "node"        # this should resolve to nvm
validate = "probe"
useESLintClass = false
format = false
quiet = false
run = "onType"
packageManager = "npm"
rulesCustomizations = []
onIgnoredFiles = "off"
[languages.eslint.languageServer.configuration.codeActionOnSave]
mode = "auto"
[languages.eslint.languageServer.configuration.workspaceFolder]
name = "river"
# we seem to not be able to use ${REPL_HOME} here as the vscode package does
# not evaluate the environment variable, and we need a `/` prefix so it
# knows we gave it an absolute path
uri = "file:///home/runner/${REPL_SLUG}"
[languages.eslint.languageServer.configuration.experimental]
useFlatConfig = false
[languages.eslint.languageServer.configuration.problems]
shortenToSingleLine = false
[languages.eslint.languageServer.configuration.codeAction.disableRuleComment]
enable = true
location = "separateLine"
commentStyle = "line"
[languages.eslint.languageServer.configuration.codeAction.showDocumentation]
enable = true
