"""Generated root client aggregating all service clients."""

from __future__ import annotations

from river.client import RiverClient
{% for mod, cls in imports %}
from {{ mod }} import {{ cls }}
{% endfor %}


class {{ client_name }}:
    """Aggregated client for all services."""

    def __init__(self, client: RiverClient) -> None:
        self._client = client
{% for attr_name, cls in services %}
        self.{{ attr_name }} = {{ cls }}(client)
{% endfor %}
